.Home {
  width: 100%;
  height: auto;
  padding: 39px 60px;
}

.sylayder {
  width: 100%;
  height: auto;
  background-color: #fff;
  display: flex;
  border-radius: 10px;
  align-items: center;
}

.yozuv {
  width: 50%;
  height: auto;
  padding-top: 83px;
  padding-left: 200px;
}

.qiz {
  width: 50%;
  height: auto;
}

.qiz > img {
  width: 70%;
}

.yozuv :nth-child(1) {
  font-weight: 900;
  font-size: 24px;
  line-height: 110%;
  color: #f53b49;
  font-weight: bold;
}

.yozuv :nth-child(2) {
  padding-top: 24px;
  font-weight: 900;
  font-size: 49.5455px;
  line-height: 110%;
  text-transform: uppercase;
  color: #1a1a25;
}

.yozuv :nth-child(3) {
  width: 150px;
  height: 50px;
  border: 1px solid red;
  color: red;
  background: none;
  margin-top: 20px;
}

.yozuv > span {
  font-weight: 800;
}

#slayder {
  width: 100%;
}

/* ************************** Companeta ********************* */

.companeta {
  width: 100%;
  height: auto;
  padding: 50px 255px;
}

.rasimlar {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}

.qizlar1 {
  display: flex;
}

.RASM1 {
  width: 330px;
  height: 430px;
  background-color: black;
  position: relative;
  border-radius: 10px;
  flex-wrap: wrap;
}

.RASM1 :nth-child(1) {
  position: absolute;
  color: #fff;
  top: 36px;
  left: 30px;
  font-weight: 800;
  font-size: 20px;
}

.RASM2 {
  width: 330px;
  height: 430px;
  background-color: #fff;
  position: relative;
  margin: 0 30px;
  border-radius: 10px;
  flex-wrap: wrap;
}

.RASM2 :nth-child(1) {
  position: absolute;
  color: black;
  top: 36px;
  left: 30px;
  font-weight: 800;
  font-size: 20px;
  line-height: 120%;
  color: #1a1a25;
}

.qizlar2 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rasim2 {
  width: 330px;
  height: 430px;
  background-color: rgb(254, 254, 254);
  position: relative;
  border-radius: 10px;
  flex-wrap: wrap;
}

.rasim2 :nth-child(1) {
  position: relative;
  color: black;
  top: 26px;
  left: 20px;
  z-index: 9999999;
  font-weight: 800;
  font-size: 20px;
  line-height: 120%;
  color: #1a1a25;
}

.rasim2 :nth-child(2) {
  width: 100%;
  position: absolute;
  right: 0;
}

.rasim3 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.divan {
  width: 275px;
  height: 280px;
  background-color: #fff;
  margin: 10px 2%;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

.divan :nth-child(1) {
  position: absolute;
  color: black;
  top: 26px;
  left: 20px;
  font-weight: 800;
  font-size: 20px;
  line-height: 120%;
}

.divan :nth-child(2) {
  width: 220px;
  position: absolute;
  right: 0;
  bottom: 0;
}

/* ********************************************* */

.rasim4 {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}

.tosh1 {
  margin-top: 10%;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.tosh2 {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.rasim4 > b {
  font-weight: 700;
  font-size: 30px;
  line-height: 110%;
  color: #1a1a25;
  padding-bottom: 20px;
}

.yugur1 {
  width: 581px;
  height: 280px;
  background: #2b343a;
  color: #fff;
  position: relative;
  display: flex;
}

.yugur1 :nth-child(1) {
  font-weight: 800;
  font-size: 20px;
  line-height: 120%;
  padding-left: 33px;
  padding-top: 33px;
}

.yugur1 :nth-child(2) {
  position: absolute;
}

.yugur2 {
  width: 330px;
  height: 280px;
  background-color: rgb(255, 255, 255);
  position: relative;
}

.yugur2 :nth-child(2) {
  position: absolute;
  top: 0;
  right: 20px;
}

.yugur2 :nth-child(1) {
  font-weight: 800;
  font-size: 20px;
  line-height: 120%;
  padding-left: 23px;
  padding-top: 23px;
  position: relative;
  z-index: 99999;
}

.velosiped {
  width: 320px;
  height: 280px;
  background-color: #fff;
  margin: 10px 10px;
  position: relative;
  border-radius: 10px;
}

.velosiped :nth-child(1) {
  font-weight: 800;
  font-size: 20px;
  line-height: 120%;
  padding-left: 23px;
  padding-top: 23px;
  position: relative;
  z-index: 99999;
}

.velosiped :nth-child(2) {
  width: 83%;
  position: absolute;
  right: 0;
  bottom: 0;
}

/* ********************************************** */

.sotipOlish {
  width: 100%;
  height: auto;
  border-top: 1px solid gray;
  padding: 50px 105px;
  display: flex;
  align-items: center;
  /* flex-wrap: wrap; */
}

.shopping {
  width: 300px;
  height: auto;
  background-color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
}

.layk {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.foiz {
  display: flex;
  align-items: center;
}

.foiz img {
  margin: 0 1px;
  cursor: pointer;
}

.yurak {
  display: flex;
  align-items: center;
  justify-content: center;
}

.yurak img {
  margin: 0 10px;
  cursor: pointer;
}

.yurak > p {
  background-color: red;
  width: 30px;
  height: 30px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.image {
  width: 100%;
  height: auto;
  display: flex;
}

.image img {
  width: 100%;
  height: auto;
}

.yoz1 {
  width: 100%;
  height: 20px;
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-left: 10px;
}

.yoz1 p {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #2fc509;
}

.yoz1 a {
  text-decoration: none;
  padding-left: 20px;
  color: blue;
}

.yozuv2 {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-left: 10px;

  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #1a1a25;
}

.yozuv3 {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-left: 10px;
}

.yozuv3 img {
  padding-left: 10px;
}

.btn {
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  justify-content: space-between;
}

.radetish > p {
  font-weight: 700;
  font-size: 17px;
  line-height: 135.94%;
  color: #1a1a25;
}

.radetish :nth-child(2) {
  font-weight: 400;
  font-size: 16px;
  line-height: 135.94%;
  text-decoration-line: line-through;
  color: #858fa4;
}

.butoonnn button {
  width: 121px;
  height: 49px;
  background: #f53b49;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
}

.butoonnn button > p {
  color: #fff;
  padding-left: 10px;
}

/* ********************************************************** */

.Qizil {
  width: 100%;
  height: auto;
  background: #1a1a25;
  padding: 119px 255px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.qizil1 {
  width: 660px;
  height: 400px;
  background-color: red;
  display: flex;
  justify-content: space-between;
}

.qizil2 {
  width: 330px;
  height: auto;
  background-color: #fff;
  border-radius: 10px;
  padding: 30px;
  padding-bottom: 4%;
}

.qizil3 {
  width: 330px;
  height: 400px;
  background-color: #fff;
  border-radius: 10px;
  padding-top: 30px;
  padding-left: 30px;
  position: relative;
  overflow: hidden;
}

.qizil1Yozuv > p {
  font-weight: 700;
  font-size: 30px;
  line-height: 110%;
  color: #f2f2f2;
}

.qizil1Yozuv {
  padding-top: 30px;
  padding-left: 30px;
}

.soniya {
  display: flex;
  align-items: center;
  padding-top: 30px;
}

.soniya :nth-child(2) {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 114.94%;
  color: #1a1a25;
  padding-left: 5px;
}

#logoo {
  padding-top: 10px;
}

.qizil2 > p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 110%;
  color: #1a1a25;
}

.qizil2 > img {
  width: 100%;
  height: auto;
}

.qizil2 > p > span {
  color: red;
  font-weight: 800;
  font-size: 29px;
  line-height: 110%;
}

.qizil3 > p > span {
  font-weight: 900;
  font-size: 20px;
  line-height: 110%;
  color: #f53b49;
}

.qizil3 > p {
  font-weight: 900;
  font-size: 20px;
  line-height: 110%;
}

.qizil3 > img {
  position: absolute;
  right: 0;
}

/* ******************************************************** */

.davlatlar {
  width: 100%;
  height: auto;
  background: #e5e5e5;
  display: flex;
  flex-direction: column;
  padding: 10% 240px;
  border-bottom: 1px solid gray;
}

.Популярные {
  width: 100%;
  height: auto;
}

.Популярные > p {
  font-weight: 700;
  font-size: 30px;
  line-height: 110%;
  color: #1a1a25;
}

.Популярные > a {
  margin: 0 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: #384255;
  text-decoration: none;
}

.davlatUshla {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 100px;
}

.davlarKart {
  padding: 49px;
  background-color: #fff;
  width: 282px;
  height: 170px;
  border: 1px solid rgba(128, 128, 128, 0.445);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
}
.davlatHover {
  top: -100%;
  width: 100%;
  height: 0;
  background-color: rgba(0, 0, 0, 0.515);
  position: absolute;
  transition: all 0.5s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.davlarKart:hover .davlatHover {
  top: 0;
  width: 100%;
  height: 170px;
  background-color: rgba(0, 0, 0, 0.721);
  position: absolute;
  transition: all 0.5s ease-in-out;
}

.davlatHover p {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}

.davlatHoverLinklar {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.davlatHoverLinklar > img {
  width: 30px;
  margin: 0 10px;
}
.davlatHoverLinklar :nth-child(4) {
  width: 30px;
}

.telhover1 {
  width: 100%;
  height: 0;
  transition: all 0.5s ease-in-out;
  background-color: gold;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  top: -200px;
}

.telhover2 {
  width: 100%;
  height: 0;
  transition: all 0.5s ease-in-out;
  background-color: gold;
  position: absolute;
  bottom: -100px;
}

.telkart:hover .telhover1 {
  width: 100%;
  height: 151px;
  transition: all 0.5s ease-in-out;
  background-color: gold;
  position: absolute;
  top: 0;
}

.telkart:hover .telhover2 {
  width: 100%;
  height: 152px;
  transition: all 0.5s ease-in-out;
  background-color: gold;
  position: absolute;
  bottom: 0;
}

.telhover1 > p {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}
.telhover2 > p {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}

/* ************************************************ */

.telifon {
  width: 100%;
  height: auto;
  background: #e5e5e5;
  padding: 10% 240px;
}

.tel {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}

.telkart {
  position: relative;
  width: 352px;
  height: 305px;
  background: #ffffff;
  border: 1px solid rgba(133, 143, 164, 0.2);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  overflow: hidden;
}

.telkart :nth-child(1) {
  padding-top: 39px;
}

.telkart :nth-child(2) {
  font-weight: 800;
  font-size: 20px;
  line-height: 120%;
  color: #1a1a25;
  padding-top: 30px;
  padding-bottom: 10px;
}

.telkart :nth-child(3) {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #384255;
}

.telkart :nth-child(4) {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: red;
  padding-top: 10px;
}

/* ****************************************************************** */

.harita {
  width: 100%;
  height: auto;
  background: #e5e5e5;
  padding-left: 255px;
  padding-top: 100px;
  display: flex;
  align-items: center;
}

.haritaYozuv :nth-child(1) {
  font-weight: 700;
  font-size: 30px;
  line-height: 110%;
  color: #1a1a25;
}

.haritaYozuv :nth-child(2) {
  padding-top: 30px;
  font-weight: 400;
  font-size: 34px;
  line-height: 140%;
  color: #384255;
}

.haritaYozuv :nth-child(3) {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #384255;
  padding-top: 20px;
}

.haritaYozuv > button {
  width: 200px;
  height: 50px;
  border: 1px, solid red;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #f53b49;
  background-color: rgb(255, 255, 255);
  margin-top: 5%;
  border-radius: 10px;
}

.achki {
  width: 100%;
  height: auto;
  padding: 40px 255px;
}

.qoraoyna {
  width: 100%;
  height: auto;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 35px 70px;
  position: relative;
}

.achkiYozuv > p {
  font-weight: 500;
  font-size: 36px;
  line-height: 120%;
  color: #ffffff;
}

.achkiYozuv > p span {
  font-weight: 500;
  font-size: 36px;
  line-height: 120%;
  color: red;
}

.achkiii {
  width: 50%;
}

.achki > img {
  position: absolute;
  left: 0;
}

.achkiYozuv > button {
  width: 200px;
  height: 50px;
  border: 1px solid red;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #f53b49;
  margin-top: 5%;
  border-radius: 10px;
  background: none;
}

/* ***************************************** */

.slayder {
  width: 100%;
  margin-top: 10%;
  height: auto;
  padding: 50px 70px;
}

/* **************************************** */

@media (max-width: 1825px) {
  .companeta {
    width: 100%;
    height: auto;
    padding: 50px 200px;
  }
}

@media (max-width: 1741px) {
  .companeta {
    width: 100%;
    height: auto;
    padding: 50px 150px;
  }
}

@media (max-width: 1817px) {
  .Qizil {
    width: 100%;
    height: auto;
    background: #1a1a25;
    padding: 119px 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}

@media (max-width: 1717px) {
  .Qizil {
    width: 100%;
    height: auto;
    background: #1a1a25;
    padding: 119px 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .harita {
    width: 100%;
    height: auto;
    background: #e5e5e5;
    padding-left: 205px;
    padding-top: 100px;
    display: flex;
    align-items: center;
  }

  .haritaRasim > img {
    width: 80%;
  }
}

@media (max-width: 1733px) {
  .sotipOlish {
    width: 100%;
    height: auto;
    border-top: 1px solid gray;
    padding: 50px 15px;
    display: flex;
    align-items: center;
  }

  .haritaRasim > img {
    width: 80%;
  }
}

@media (max-width: 1665px) {
  .companeta {
    width: 100%;
    height: auto;
    padding: 50px 100px;
  }
}

@media (max-width: 1553px) {
  .companeta {
    width: 100%;
    height: auto;
    padding: 50px 50px;
  }

  .shopping {
    width: 250px;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 10px;
  }

  .sotipOlish {
    width: 100%;
    height: auto;
    border-top: 1px solid gray;
    padding: 50px 15px;
    display: flex;
    align-items: center;
  }

  .davlatlar {
    width: 100%;
    height: auto;
    background: #e5e5e5;
    display: flex;
    flex-direction: column;
    padding: 10% 120px;
    border-bottom: 1px solid gray;
  }

  .harita {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .haritaRasim > img {
    display: flex;
  }

  .haritaYozuv > p {
    display: none;
  }

  .haritaYozuv > button {
    width: 200px;
    height: 50px;
    border: 1px, solid red;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #f53b49;
    background-color: rgb(255, 255, 255);
    margin-top: 5%;
    border-radius: 10px;
    display: none;
  }

  .davlatUshla {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 100px;
    justify-content: center;
  }
}

@media (max-width: 1441px) {
  .qoraoyna {
    width: 100%;
    height: auto;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 35px 10px;
    position: relative;
  }

  .achki {
    width: 100%;
    height: auto;
    padding: 40px 100px;
  }

  .RASM1 {
    width: 330px;
    height: 430px;
    background-color: black;
    position: relative;
    border-radius: 10px;
    flex-wrap: wrap;
  }

  .RASM2 {
    width: 300px;
    height: 430px;
    background-color: #fff;
    position: relative;
    margin: 0 30px;
    border-radius: 10px;
    flex-wrap: wrap;
    overflow: hidden;
  }

  .rasim2 {
    width: 350px;
    height: 430px;
    background-color: rgb(254, 254, 254);
    position: relative;
    border-radius: 10px;
    flex-wrap: wrap;
  }

  .tosh2 {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}

@media (max-width: 1422px) {
  .Qizil {
    width: 100%;
    height: auto;
    background: #1a1a25;
    padding: 119px 25px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}

@media (max-width: 1354px) {
  .RASM1 {
    width: 290px;
    height: 430px;
    background-color: black;
    position: relative;
    border-radius: 10px;
    flex-wrap: wrap;
    overflow: hidden;
  }

  .RASM1 > img {
    width: 100%;
  }

  .RASM2 {
    width: 290px;
    height: 430px;
    background-color: #fff;
    position: relative;
    margin: 0 30px;
    border-radius: 10px;
    flex-wrap: wrap;
  }

  .RASM2 > img {
    width: 100%;
  }

  .rasim2 {
    width: 290px;
    height: 430px;
    background-color: rgb(254, 254, 254);
    position: relative;
    border-radius: 10px;
    flex-wrap: wrap;
  }

  .rasim2 :nth-child(2) {
    width: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .Qizil {
    width: 100%;
    height: auto;
    background: #1a1a25;
    padding: 119px 25px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .qizil1 {
    width: 400px;
    height: 400px;
    display: flex;
    background: none;
    justify-content: space-between;
  }

  .qizil1Yozuv > p {
    font-weight: 700;
    font-size: 30px;
    line-height: 110%;
    color: #f2f2f2;
    display: none;
  }

  .qizil1Yozuv {
    padding-top: 30px;
    padding-left: 30px;
    display: none;
  }

  .soniya {
    display: flex;
    align-items: center;
    padding-top: 30px;
    display: none;
  }

  .soniya :nth-child(2) {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 114.94%;
    color: #1a1a25;
    padding-left: 5px;
    display: none;
  }

  #logoo {
    padding-top: 10px;
    display: none;
  }

  .sotipOlish {
    width: 100%;
    height: auto;
    border-top: 1px solid gray;
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media (max-width: 1322px) {
  .RASM1 {
    width: 380px;
    height: 490px;
    background-color: black;
    position: relative;
    border-radius: 10px;
    flex-wrap: wrap;
    overflow: hidden;
  }

  .RASM1 > img {
    width: 100%;
  }

  .RASM2 {
    width: 380px;
    height: 490px;
    background-color: #fff;
    position: relative;
    margin: 0 30px;
    border-radius: 10px;
    flex-wrap: wrap;
    display: none;
  }

  .RASM2 > img {
    width: 100%;
  }

  .rasim2 {
    width: 380px;
    height: 490px;
    background-color: rgb(254, 254, 254);
    position: relative;
    border-radius: 10px;
    flex-wrap: wrap;
  }

  .rasim2 :nth-child(2) {
    width: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .companeta {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 50px 20px;
  }

  .qizlar2 {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .Home {
    width: 100%;
    height: auto;
    padding: 39px 2%;
  }

  .yozuv :nth-child(2) {
    padding-top: 0;
    font-weight: 900;
    font-size: 30.5455px;
    line-height: 110%;
    text-transform: uppercase;
    color: #1a1a25;
  }
  .yozuv {
    width: 50%;
    height: auto;
    padding-top: 13px;
    padding-left: 200px;
  }
}

@media (max-width: 1266px) {
  .yugur1 {
    width: 481px;
    height: 280px;
    background: #2b343a;
    color: #fff;
    position: relative;
    display: flex;
  }
  .davlatlar {
    width: 100%;
    height: auto;
    background: #e5e5e5;
    display: flex;
    flex-direction: column;
    padding: 10% 20px;
    border-bottom: 1px solid gray;
  }
}

@media (max-width: 1162px) {
  .yugur1 {
    width: 401px;
    height: 280px;
    background: #2b343a;
    color: #fff;
    position: relative;
    display: flex;
    overflow: hidden;
  }
  .davlatlar {
    width: 100%;
    height: auto;
    background: #e5e5e5;
    display: flex;
    flex-direction: column;
    padding: 10% 20px;
    border-bottom: 1px solid gray;
  }
  .yugur1 :nth-child(1) {
    font-weight: 800;
    font-size: 20px;
    line-height: 120%;
    padding-left: 23px;
    padding-top: 23px;
  }

  .yugur1 :nth-child(2) {
    position: absolute;
    left: 0;
  }

  .RASM1 {
    width: 300px;
    height: 430px;
    background-color: black;
    position: relative;
    border-radius: 10px;
    flex-wrap: wrap;
    overflow: hidden;
  }

  .RASM1 > img {
    width: 100%;
  }

  .RASM2 {
    width: 300px;
    height: 430px;
    background-color: #fff;
    position: relative;
    margin: 0 30px;
    border-radius: 10px;
    flex-wrap: wrap;
  }

  .RASM2 > img {
    width: 100%;
  }

  .rasim2 {
    width: 300px;
    height: 430px;
    background-color: rgb(254, 254, 254);
    position: relative;
    border-radius: 10px;
    flex-wrap: wrap;
  }

  .rasim2 :nth-child(2) {
    width: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

@media (max-width: 1362px) {
  .telifon {
    width: 100%;
    height: auto;
    background: #e5e5e5;
    padding: 10% 24px;
  }
}

@media (max-width: 1174px) {
  .foiz img {
    margin: 0 1px;
    cursor: pointer;
    width: 30%;
  }
  .yurak img {
    margin: 0 10px;
    cursor: pointer;
    width: 30%;
  }
  .image img {
    width: 100%;
    height: auto;
    border-radius: 100%;
  }
  .image {
    width: 100%;
    height: auto;
    display: flex;
    padding: 10px;
  }
  .radetish > p {
    font-weight: 700;
    font-size: 17px;
    line-height: 135.94%;
    color: #1a1a25;
  }
  .yozuv3 {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-left: 10px;
  }
  .yozuv2 {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    padding-top: 30px;
    padding-left: 10px;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #1a1a25;
  }
  .butoonnn button {
    width: 101px;
    height: 40px;
    background: #f53b49;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
  }
  .radetish > p {
    font-weight: 700;
    font-size: 17px;
    line-height: 135.94%;
    color: #1a1a25;
    outline: none;
  }

  .radetish :nth-child(2) {
    font-weight: 400;
    font-size: 16px;
    line-height: 135.94%;
    text-decoration-line: line-through;
    color: #858fa4;
    outline: none;
  }

  .slayder {
    width: 100%;
    margin-top: 10%;
    height: auto;
    padding: 50px 0;
  }
  .yugur1 {
    width: 381px;
    overflow: hidden;
    height: 280px;
    background: #2b343a;
    color: #fff;
    position: relative;
    display: flex;
  }
  .RASM1 {
    width: 330px;
    height: 430px;
    background-color: black;
    position: relative;
    border-radius: 10px;
    flex-wrap: wrap;
  }
  .rasim2 {
    width: 330px;
    height: 430px;
    background-color: #fff;
    position: relative;
    margin: 0 30px;
    border-radius: 10px;
    flex-wrap: wrap;
  }
}

@media (max-width: 1080px) {
  .tosh1 {
    margin-top: 10%;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .yugur2 {
    width: 300px;
    height: 280px;
    background-color: rgb(255, 255, 255);
    position: relative;
  }
  .yugur1 {
    width: 301px;
    overflow: hidden;
    height: 280px;
    background: #2b343a;
    color: #fff;
    position: relative;
    display: flex;
  }

  .qizil3 {
    width: 290px;
    height: 350px;
    background-color: #fff;
    border-radius: 10px;
    padding-top: 30px;
    padding-left: 30px;
    position: relative;
    overflow: hidden;
  }
  .qizil2 {
    width: 290px;
    height: auto;
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
    padding-bottom: 4%;
  }
  .qizil1 {
    width: 360px;
    height: 400px;
    display: flex;
    align-items: center;
  }
  .qizil1Rasim > img {
    width: 90%;
    border-radius: 10px;
  }
  .achki {
    width: 100%;
    height: auto;
    padding: 40px 20px;
  }
  .RASM1 {
    width: 250px;
    height: 300px;
    background-color: black;
    position: relative;
    border-radius: 10px;
    flex-wrap: wrap;
  }
  .rasim2 {
    width: 250px;
    height: 330px;
    background-color: rgb(254, 254, 254);
    position: relative;
    border-radius: 10px;
    flex-wrap: wrap;
  }
}

@media (max-width: 988px) {
  .qizil3 {
    width: 250px;
    height: 350px;
    background-color: #fff;
    border-radius: 10px;
    padding-top: 30px;
    padding-left: 30px;
    position: relative;
    overflow: hidden;
  }
  .qizil2 {
    width: 250px;
    height: auto;
    border-radius: 10px;
    padding: 30px;
    padding-bottom: 4%;
  }
  .qizil1 {
    width: 250px;
    height: 400px;
    display: flex;
    align-items: center;
  }
  .qizil1Rasim > img {
    width: 100%;
    border-radius: 10px;
  }
  .achkiYozuv > p {
    font-weight: 500;
    font-size: 25px;
    line-height: 120%;
    color: #ffffff;
  }
  .achkiii {
    width: 50%;
  }
}
@media (max-width: 950px) {
  .yoqol {
    display: none;
  }
}

@media (max-width: 867px) {
  .yoqol {
    display: none;
  }
  .yozuv :nth-child(1) {
    font-weight: 900;
    font-size: 17px;
    line-height: 110%;
    color: #f53b49;
    font-weight: bold;
  }

  .yozuv :nth-child(2) {
    font-size: 20.5455px;
    line-height: 20px;
    text-transform: uppercase;
    color: #1a1a25;
  }
  .yozuv {
    width: 50%;
    height: auto;
    padding-top: 3px;
    padding-left: 10%;
  }
  .yozuv :nth-child(3) {
    width: 100px;
    height: 40px;
    border: 1px solid red;
    color: red;
    background: none;
    margin-top: 10px;
  }
  .divan {
    width: 285px;
    height: 200px;
    background-color: #fff;
    margin: 10px 2%;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
  }
  .divan :nth-child(2) {
    width: 150px;
    position: absolute;
    right: 0;
    bottom: 0;
  }
  .divan :nth-child(1) {
    position: absolute;
    color: black;
    top: 26px;
    left: 20px;
    font-weight: 800;
    font-size: 20px;
    line-height: 120%;
    z-index: 99999;
  }
  .rasim2 {
    width: 200px;
    height: 200px;
    background-color: rgb(254, 254, 254);
    position: relative;
    border-radius: 10px;
    flex-wrap: wrap;
  }
  .RASM1 {
    width: 200px;
    height: 200px;
    background-color: black;
    position: relative;
    border-radius: 10px;
    flex-wrap: wrap;
  }

  .telkart {
    width: 352px;
    height: 305px;
    background: #ffffff;
    border: 1px solid rgba(133, 143, 164, 0.2);
    box-sizing: border-box;
    border-radius: 6px 0px 0px 6px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }

  .telkart {
    width: 352px;
    height: 275px;
    background: #ffffff;
    border: 1px solid rgba(133, 143, 164, 0.2);
    box-sizing: border-box;
    border-radius: 6px 0px 0px 6px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 10px 10px;
  }
  .telkart :nth-child(1) {
    padding-top: 3px;
  }
  .telkart :nth-child(2) {
    font-weight: 800;
    font-size: 20px;
    line-height: 120%;
    color: #1a1a25;
    padding-top: 30px;
    padding-bottom: 10px;
  }
  .telkart :nth-child(3) {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #384255;
  }
  .tel {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
  }
  .qizil1 {
    width: 290px;
    height: 400px;
    display: flex;
    justify-content: space-between;
    display: none;
  }

  .qizil2 {
    width: 350px;
    height: auto;
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
    padding-bottom: 4%;
  }

  .qizil3 {
    width: 350px;
    height: 410px;
    background-color: #fff;
    border-radius: 10px;
    padding-top: 30px;
    padding-left: 30px;
    position: relative;
    overflow: hidden;
  }
  #marginee {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (max-width: 863px) {
  .achkiii > img {
    width: 70%;
  }
}

@media (max-width: 863px) {
  .qizil2 {
    width: 250px;
    height: auto;
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
    padding-bottom: 4%;
  }

  .qizil3 {
    width: 250px;
    height: 300px;
    background-color: #fff;
    border-radius: 10px;
    padding-top: 30px;
    padding-left: 30px;
    position: relative;
    overflow: hidden;
  }
  .qizil3 > img {
    position: absolute;
    right: 0;
    top: 0;
  }
  .qizil3 > p {
    font-weight: 900;
    font-size: 20px;
    line-height: 110%;
    z-index: 99;
    position: relative;
  }
  .rasim3 {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .qizlar1 {
    display: flex;
    flex-wrap: wrap;
  }
  .rasimlar {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
  }
  .RASM1 {
    width: 330px;
    height: 430px;
    background-color: black;
    position: relative;
    border-radius: 10px;
    flex-wrap: wrap;
    margin: 30px 0;
  }

  .rasim2 {
    width: 330px;
    height: 430px;
    background-color: rgb(254, 254, 254);
    position: relative;
    border-radius: 10px;
    flex-wrap: wrap;
  }
  .yugur2 {
    width: 330px;
    height: 280px;
    background-color: rgb(255, 255, 255);
    position: relative;
    margin: 10px;
  }
}

@media (max-width: 571px) {
  .rasim2 {
    width: 330px;
    height: 300px;
    background-color: rgb(254, 254, 254);
    position: relative;
    border-radius: 10px;
    flex-wrap: wrap;
    margin: 10px 0;
  }
  .qizlar2 {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .yozuv {
    width: 50%;
    height: auto;
    padding-top: 0;
    padding-left: 10px;
    display: flex;
  }
  .yozuv :nth-child(3) {
    width: 150px;
    height: 50px;
    border: 1px solid red;
    color: red;
    background: none;
    margin-top: 20px;
    display: none;
  }
  .yozuv :nth-child(1) {
    font-weight: 900;
    font-size: 24px;
    line-height: 110%;
    color: #f53b49;
    font-weight: bold;
    display: none;
  }
  .yozuv :nth-child(2) {
    padding-top: 24px;
    font-weight: 900;
    font-size: 19.5455px;
    line-height: 110%;
    text-transform: uppercase;
    color: #1a1a25;
  }
  .rasim4 > b {
    font-weight: 700;
    font-size: 30px;
    line-height: 110%;
    color: #1a1a25;
    padding-bottom: 20px;
    text-align: center;
  }
  .Популярные > a {
    margin: 0 30px;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    color: #384255;
    text-decoration: none;
    display: none;
  }
  .Популярные > p {
    font-weight: 700;
    font-size: 30px;
    line-height: 110%;
    color: #1a1a25;
    text-align: center;
  }

  .achki > img {
    position: absolute;
    left: 0;
    display: none;
  }
  .achkiii {
    width: 50%;
    display: none;
  }
  .achkiYozuv {
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}

@media (max-width: 537px) {
  .qizil2 {
    width: 330px;
    height: auto;
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
    padding-bottom: 4%;
  }
  .qizil3 {
    width: 330px;
    height: 400px;
    background-color: #fff;
    border-radius: 10px;
    padding-top: 30px;
    padding-left: 30px;
    position: relative;
    overflow: hidden;
    margin: 30px 0;
  }

  .Qizil {
    width: 100%;
    height: auto;
    background: #1a1a25;
    padding: 119px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .haritaRasim {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .haritaYozuv {
    display: none;
  }

  .haritaYozuv > img {
    width: 100%;
  }
  .harita {
    width: 100%;
    height: auto;
    background: #e5e5e5;
    padding-left: 0;
    padding-top: 100px;
    display: flex;
    align-items: center;
  }
}

@media (max-width: 387px) {
  .qiz {
    width: 50%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .yozuv {
    width: 100%;
    height: auto;
    padding-top: 10px;
    padding-left: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .sylayder {
    width: 100%;
    height: auto;
    background-color: #fff;
    display: flex;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 10px;
  }
  .davlarKart {
    padding: 49px;
    background-color: #fff;
    width: 282px;
    height: 170px;
    border: 0 solid rgba(128, 128, 128, 0.445);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
  }
}

@media (max-width: 1280px) {
  .yugur2 {
    width: 300px;
    height: 280px;
    background-color: rgb(255, 255, 255);
    position: relative;
  }
}
@media (max-width: 360px) {
  .qizil2 {
    width: 300px;
    height: auto;
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
    padding-bottom: 4%;
  }

  .qizil3 {
    width: 300px;
    height: 400px;
    background-color: #fff;
    border-radius: 10px;
    padding-top: 30px;
    padding-left: 30px;
    position: relative;
    overflow: hidden;
  }
}
@media (max-width: 320px){
  .companeta {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 50px 5px;
  }
  .telifon {
    width: 100%;
    height: auto;
    background: #e5e5e5;
    padding: 10% 6px;
  }
}